# Unsupervised Lab Session

## Learning outcomes:
- Exploratory data analysis and data preparation for model building.
- PCA for dimensionality reduction.
- K-means and Agglomerative Clustering

## Problem Statement
Based on the given marketing campigan dataset, segment the similar customers into suitable clusters. Analyze the clusters and provide your insights to help the organization promote their business.

## Context:
- Customer Personality Analysis is a detailed analysis of a company’s ideal customers. It helps a business to better understand its customers and makes it easier for them to modify products according to the specific needs, behaviors and concerns of different types of customers.
- Customer personality analysis helps a business to modify its product based on its target customers from different types of customer segments. For example, instead of spending money to market a new product to every customer in the company’s database, a company can analyze which customer segment is most likely to buy the product and then market the product only on that particular segment.

## About dataset
- Source: https://www.kaggle.com/datasets/imakash3011/customer-personality-analysis?datasetId=1546318&sortBy=voteCount

### Attribute Information:
- ID: Customer's unique identifier
- Year_Birth: Customer's birth year
- Education: Customer's education level
- Marital_Status: Customer's marital status
- Income: Customer's yearly household income
- Kidhome: Number of children in customer's household
- Teenhome: Number of teenagers in customer's household
- Dt_Customer: Date of customer's enrollment with the company
- Recency: Number of days since customer's last purchase
- Complain: 1 if the customer complained in the last 2 years, 0 otherwise
- MntWines: Amount spent on wine in last 2 years
- MntFruits: Amount spent on fruits in last 2 years
- MntMeatProducts: Amount spent on meat in last 2 years
- MntFishProducts: Amount spent on fish in last 2 years
- MntSweetProducts: Amount spent on sweets in last 2 years
- MntGoldProds: Amount spent on gold in last 2 years
- NumDealsPurchases: Number of purchases made with a discount
- AcceptedCmp1: 1 if customer accepted the offer in the 1st campaign, 0 otherwise
- AcceptedCmp2: 1 if customer accepted the offer in the 2nd campaign, 0 otherwise
- AcceptedCmp3: 1 if customer accepted the offer in the 3rd campaign, 0 otherwise
- AcceptedCmp4: 1 if customer accepted the offer in the 4th campaign, 0 otherwise
- AcceptedCmp5: 1 if customer accepted the offer in the 5th campaign, 0 otherwise
- Response: 1 if customer accepted the offer in the last campaign, 0 otherwise
- NumWebPurchases: Number of purchases made through the company’s website
- NumCatalogPurchases: Number of purchases made using a catalogue
- NumStorePurchases: Number of purchases made directly in stores
- NumWebVisitsMonth: Number of visits to company’s website in the last month

### 1. Import required libraries

In [1]:
import pandas as pd

### 2. Load the CSV file (i.e marketing.csv) and display the first 5 rows of the dataframe. Check the shape and info of the dataset.

In [2]:
mark=pd.read_csv('marketing.csv')
mark.head()

,ID,Year_Birth,Education,Marital_Status,Income,Kidhome,Teenhome,Dt_Customer,Recency,MntWines,...,NumCatalogPurchases,NumStorePurchases,NumWebVisitsMonth,AcceptedCmp3,AcceptedCmp4,AcceptedCmp5,AcceptedCmp1,AcceptedCmp2,Complain,Response
0,5524,1957,Graduation,Single,58138.0,0,0,4/9/2012,58,635,...,10,4,7,0,0,0,0,0,0,1
1,2174,1954,Graduation,Single,46344.0,1,1,8/3/2014,38,11,...,1,2,5,0,0,0,0,0,0,0
2,4141,1965,Graduation,Together,71613.0,0,0,21-08-2013,26,426,...,2,10,4,0,0,0,0,0,0,0
3,6182,1984,Graduation,Together,26646.0,1,0,10/2/2014,26,11,...,0,4,6,0,0,0,0,0,0,0
4,5324,1981,PhD,Married,58293.0,1,0,19-01-2014,94,173,...,3,6,5,0,0,0,0,0,0,0

### 3. Check the percentage of missing values? If there is presence of missing values, treat them accordingly.

In [3]:
mark.isnull().sum()/len(mark)*100

ID                     0.000000
Year_Birth             0.000000
Education              0.000000
Marital_Status         0.000000
Income                 1.071429
Kidhome                0.000000
Teenhome               0.000000
Dt_Customer            0.000000
Recency                0.000000
MntWines               0.000000
MntFruits              0.000000
MntMeatProducts        0.000000
MntFishProducts        0.000000
MntSweetProducts       0.000000
MntGoldProds           0.000000
NumDealsPurchases      0.000000
NumWebPurchases        0.000000
NumCatalogPurchases    0.000000
NumStorePurchases      0.000000
NumWebVisitsMonth      0.000000
AcceptedCmp3           0.000000
AcceptedCmp4           0.000000
AcceptedCmp5           0.000000
AcceptedCmp1           0.000000
AcceptedCmp2           0.000000
Complain               0.000000
Response               0.000000
dtype: float64

In [4]:
updated_df=mark
updated_df['Income']=updated_df['Income'].fillna(updated_df['Income'].mean())
updated_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2240 entries, 0 to 2239
Data columns (total 27 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   ID                   2240 non-null   int64
 1   Year_Birth           2240 non-null   int64
 2   Education            2240 non-null   object
 3   Marital_Status       2240 non-null   object
 4   Income               2240 non-null   float64
 5   Kidhome              2240 non-null   int64
 6   Teenhome             2240 non-null   int64
 7   Dt_Customer          2240 non-null   object
 8   Recency              2240 non-null   int64
 9   MntWines             2240 non-null   int64
 10  MntFruits            2240 non-null   int64
 11  MntMeatProducts      2240 non-null   int64
 12  MntFishProducts      2240 non-null   int64
 13  MntSweetProducts     2240 non-null   int64
 14  MntGoldProds         2240 non-null   int64
 15  NumDealsPurchases    2240 non-null   int64
 16  NumWebPurchases      2240 non-null   int64
 17  NumCatalogPurchases  2240 non-null   int64
 18  NumStorePurchases    2240 non-null   int64
 19  NumWebVisitsMonth    2240 non-null   int64
 20  AcceptedCmp3         2240 non-null   int64
 21  AcceptedCmp4         2240 non-null   int64
 22  AcceptedCmp5         2240 non-null   int64
 23  AcceptedCmp1         2240 non-null   int64
 24  AcceptedCmp2         2240 non-null   int64
 25  Complain             2240 non-null   int64
 26  Response             2240 non-null   int64
dtypes: float64(1), int64(23), object(3)
memory usage: 472.6+ KB

### 4. Check if there are any duplicate records in the dataset? If any drop them.

In [5]:
mark['Income']=mark['Income'].replace(58138.0,99)

In [6]:
mark.duplicated().sum()

0

### 5. Drop the columns which you think redundant for the analysis

In [7]:
mark.columns

Index(['ID', 'Year_Birth', 'Education', 'Marital_Status', 'Income', 'Kidhome',
       'Teenhome', 'Dt_Customer', 'Recency', 'MntWines', 'MntFruits',
       'MntMeatProducts', 'MntFishProducts', 'MntSweetProducts',
       'MntGoldProds', 'NumDealsPurchases', 'NumWebPurchases',
       'NumCatalogPurchases', 'NumStorePurchases', 'NumWebVisitsMonth',
       'AcceptedCmp3', 'AcceptedCmp4', 'AcceptedCmp5', 'AcceptedCmp1',
       'AcceptedCmp2', 'Complain', 'Response'],
      dtype='object')

In [8]:
mark=mark.drop(columns=['ID','Dt_Customer'],axis=1)
mark.head()

,Year_Birth,Education,Marital_Status,Income,Kidhome,Teenhome,Recency,MntWines,MntFruits,MntMeatProducts,...,NumCatalogPurchases,NumStorePurchases,NumWebVisitsMonth,AcceptedCmp3,AcceptedCmp4,AcceptedCmp5,AcceptedCmp1,AcceptedCmp2,Complain,Response
0,1957,Graduation,Single,99.0,0,0,58,635,88,546,...,10,4,7,0,0,0,0,0,0,1
1,1954,Graduation,Single,46344.0,1,1,38,11,1,6,...,1,2,5,0,0,0,0,0,0,0
2,1965,Graduation,Together,71613.0,0,0,26,426,49,127,...,2,10,4,0,0,0,0,0,0,0
3,1984,Graduation,Together,26646.0,1,0,26,11,4,20,...,0,4,6,0,0,0,0,0,0,0
4,1981,PhD,Married,58293.0,1,0,94,173,43,118,...,3,6,5,0,0,0,0,0,0,0

### 6. Check the unique categories in the column 'Marital_Status'
- i) Group categories 'Married', 'Together' as 'relationship'
- ii) Group categories 'Divorced', 'Widow', 'Alone', 'YOLO', and 'Absurd' as 'Single'.

In [9]:
mark['Marital_Status'].unique()

array(['Single', 'Together', 'Married', 'Divorced', 'Widow', 'Alone',
       'Absurd', 'YOLO'], dtype=object)

In [10]:
mark['Marital_Status']=mark['Marital_Status'].replace([ 'Divorced', 'Widow', 'Alone', 'YOLO','Absurd'],'Single')
mark['Marital_status']=mark['Marital_Status'].replace(['Married', 'Together'],'relationship')

In [11]:
mark['Marital_Status'].value_counts()

Married     864
Single      796
Together    580
Name: Marital_Status, dtype: int64

### 7. Group the columns 'MntWines', 'MntFruits', 'MntMeatProducts', 'MntFishProducts', 'MntSweetProducts', and 'MntGoldProds' as 'Total_Expenses'

In [12]:
df=mark

In [13]:
df['Total_Expenses']=df['MntWines']+df[ 'MntFruits']+df['MntMeatProducts']+df['MntFishProducts']+df[ 'MntSweetProducts']+df['MntGoldProds']

### 8. Group the columns 'NumWebPurchases', 'NumCatalogPurchases', 'NumStorePurchases', and 'NumDealsPurchases' as 'Num_Total_Purchases'

### 9. Group the columns 'Kidhome' and 'Teenhome' as 'Kids'

In [14]:
df['Kids']=df['Kidhome']+df['Teenhome']

### 10. Group columns 'AcceptedCmp1 , 2 , 3 , 4, 5' and 'Response' as 'TotalAcceptedCmp'

In [15]:
df['TotalAcceptedCmp']=df['AcceptedCmp1']+df['AcceptedCmp1']+df['AcceptedCmp1']+df['AcceptedCmp1']+df['AcceptedCmp1']+df['Response']

### 11. Drop those columns which we have used above for obtaining new features

### 12. Extract 'age' using the column 'Year_Birth' and then drop the column 'Year_birth'

In [16]:
df['Year_Birth']

0       1957
1       1954
2       1965
3       1984
4       1981
        ...
2235    1967
2236    1946
2237    1981
2238    1956
2239    1954
Name: Year_Birth, Length: 2240, dtype: int64

In [17]:
def conv(x):
    l=[]
    l=2022-x
    return l
mark['age']=mark['Year_Birth'].apply(conv)

In [18]:
mark['age']

0       65
1       68
2       57
3       38
4       41
        ..
2235    55
2236    76
2237    41
2238    66
2239    68
Name: age, Length: 2240, dtype: int64

### 13. Encode the categorical variables in the dataset

In [19]:
mark.select_dtypes('object').columns

Index(['Education', 'Marital_Status', 'Marital_status'], dtype='object')

In [20]:
from sklearn.preprocessing import LabelEncoder
for col in mark.select_dtypes('object').columns.tolist():
    le=LabelEncoder()
    df[col]=le.fit_transform(df[col])

### 14. Standardize the columns, so that values are in a particular range

In [21]:
ds=df.select_dtypes(include=['int','float'])
from sklearn.preprocessing import StandardScaler
scaler=StandardScaler()
scaler.fit(ds)
scaled_ds=pd.DataFrame(scaler.transform(ds),columns=ds.columns)
print("All features are now scaled")

All features are now scaled

In [22]:
scaled_ds

,Year_Birth,Education,Marital_Status,Income,Kidhome,Teenhome,Recency,MntWines,MntFruits,MntMeatProducts,...,AcceptedCmp5,AcceptedCmp1,AcceptedCmp2,Complain,Response,Marital_status,Total_Expenses,Kids,TotalAcceptedCmp,age
0,-0.985345,-0.350141,0.159917,-2.080224,-0.825218,-0.929894,0.307039,0.983781,1.551577,1.679702,...,-0.28014,-0.262111,-0.11651,-0.097282,2.388846,-1.346874,1.679417,-1.264505,0.385381,0.985345
1,-1.235733,-0.350141,0.159917,-0.234567,1.032559,0.906934,-0.383664,-0.870479,-0.636301,-0.713225,...,-0.28014,-0.262111,-0.11651,-0.097282,-0.418612,-1.346874,-0.961275,1.396361,-0.342489,1.235733
2,-0.317643,-0.350141,1.421232,0.773929,-0.825218,-0.929894,-0.798086,0.362723,0.570804,-0.177032,...,-0.28014,-0.262111,-0.11651,-0.097282,-0.418612,0.742460,0.282673,-1.264505,-0.342489,0.317643
3,1.268149,-0.350141,1.421232,-1.020722,1.032559,-0.929894,-0.798086,-0.870479,-0.560857,-0.651187,...,-0.28014,-0.262111,-0.11651,-0.097282,-0.418612,0.742460,-0.918094,0.065928,-0.342489,-1.268149
4,1.017761,1.428354,-1.101399,0.242322,1.032559,-0.929894,1.550305,-0.389085,0.419916,-0.216914,...,-0.28014,-0.262111,-0.11651,-0.097282,-0.418612,0.742460,-0.305254,0.065928,-0.342489,-1.017761
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2235,-0.150717,-0.350141,-1.101399,0.359260,-0.825218,0.906934,-0.107383,1.203678,0.419916,0.066692,...,-0.28014,-0.262111,-0.11651,-0.097282,-0.418612,0.742460,1.221032,0.065928,-0.342489,0.150717
2236,-1.903435,1.428354,1.421232,0.470650,2.890335,0.906934,0.237969,0.303291,-0.661449,-0.606873,...,-0.28014,3.815174,-0.11651,-0.097282,-0.418612,0.742460,-0.268717,2.726794,3.296860,1.903435
2237,1.017761,-0.350141,0.159917,0.189960,-0.825218,-0.929894,1.446700,1.795020,0.545656,0.221789,...,-0.28014,-0.262111,-0.11651,-0.097282,-0.418612,-1.346874,1.054951,-1.264505,-0.342489,-1.017761
2238,-1.068807,0.539106,1.421232,0.679421,-0.825218,0.906934,-1.419719,0.368666,0.092992,0.208495,...,-0.28014,-0.262111,-0.11651,-0.097282,-0.418612,0.742460,0.393948,0.065928,-0.342489,1.068807
2239,-1.235733,1.428354,-1.101399,0.025848,1.032559,0.906934,-0.314594,-0.653555,-0.586005,-0.469501,...,-0.28014,-0.262111,-0.11651,-0.097282,2.388846,0.742460,-0.720458,1.396361,0.385381,1.235733

### 15. Apply PCA on the above dataset and determine the number of PCA components to be used so that 90-95% of the variance in data is explained by the same.

In [23]:
cov_matrix=np.cov(scaled_features.T)
cov_matrix

NameError: name 'np' is not defined

In [ ]:
eig_vals,eig_vectors=np.linal.eig(cov_natrix)
print('eigen vals',eig_vals)
print('\n')
print('eigen vectors','\n',eig_vectors)

In [24]:
total=sum(eig_vals)
var_exp=[(i/total)*100 for i in sorted(eig_vals,reverse=True)]
cum_var_exp=np.cumsum(var_exp)
print('Explained Variance:',var_exp)
print('Cummulative variance Explained',cum_var_exp)

NameError: name 'eig_vals' is not defined

In [25]:
plt.bar(range(10),var_exp,align='center',colors='lightgreen',edgecolor='black',label='Explained Variance')
plt.step(range(10),cum_var_exp,where='mid',color='red',label='Cummulative Explained Variance')
plt.xlabel('Principal Components')
plt.ylabel('Explained Variance ratio')
plt.title('Scree Plot')
plt.legend(loc='best')
plt.show()

NameError: name 'plt' is not defined

### 16. Apply K-means clustering and segment the data (Use PCA transformed data for clustering)

In [26]:
pca=PCA(n_components=8)
pca_df=pd.DataFrame(pca.fit_transform(scaled_features_df),columns=['PC1','PC2','PC3','PC4','PC5','PC6','PC7','PC8'])
pca_df.head()

NameError: name 'PCA' is not defined

In [27]:
cluster_errors=[]
cluster_range=range(2,15)
for num_clusters in cluster_range:
    clusters=KMeans(num_clusters,random_state=100)
    clusters=fit(pca_df)
    cluster_errors.append(cluster.inertia_)

NameError: name 'KMeans' is not defined

### 17. Apply Agglomerative clustering and segment the data (Use Original data for clustering), and perform cluster analysis by doing bivariate analysis between the cluster label and different features and write your observations.

### Visualization and Interpretation of results

-----
## Happy Learning
-----